<!DOCTYPE html>
<html>
<body>

<p>Hey, Please click on the instance type to spin up a new AWS instance.<p>
<ol>
    <li>
        <p>
            <a href='/create-instance/t2.micro'>t2.micro</a>
        </p>
    </li>
    <li>
        <p>
            <a href='/create-instance/t2.nano'>t2.nano</a>
        </p>
    </li>
    <li>
        <p>
            <a href='/create-instance/t2.small'>t2.small</a>
        </p>
    </li>
    <li>
        <p>
            <a href='/create-instance/t2.medium'>t2.medium</a>
        </p>
    </li>
</ol>
<h4><a href='../'>Go back to home page</a> </h4>
</body>
</html>